<div class="game-container">

    <!-- Left Panel -->
    <!-- <div class="side-panel"> -->
        <!-- currently empty -->
    <!-- </div> -->

    <!-- Board -->
    <div class="board-area">

        <div class="board-header">
            <div class="timer_and_turn-container" style="justify-content: flex-start;">

                <div id="dark_turn_indicator"
                    class="currentturn {% if current_turn == 'dark' %}currentturn--dark{% else %}currentturn--invisible{% endif %}">
                </div>

                <div class="timer" style="justify-content: flex-end;" id="dark_time_display">
                    <!-- {{ dark_time }} -->
                    {{ game_time_seconds }}
                </div >
            </div>

            <div class="winner-display" id="winner_display" style="text-align: center; font-weight: bold;">
                <!-- JS will populate this -->
            </div>

            <div class="timer_and_turn-container">
                <div class="timer" id="light_time_display">
                    <!-- {{ white_time }} -->
                    {{ game_time_seconds }}
                </div>

                <div id="light_turn_indicator"
                    class="currentturn {% if current_turn == 'light' %}currentturn--light{% else %}currentturn--invisible{% endif %}">
                </div>
            </div>
        </div>

        <div class="board-wrapper">
            <div id="board_with_figures_id">
                {% include '_board_table.html' %}
            </div>

            <!-- Play Button Overlay -->
            <div id="play-overlay" class="play-overlay">
                <button id="start-game-btn" class="play-button">Start</button>
            </div>
        </div>

    </div>

    <!-- Right Panel -->
    <div class="side-panel-container">
        {% include '_newgame_settings.html' %}
    </div> 
</div>