<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Checkers{% endblock %}</title> <!-- Set title of app shown on the browser tab -->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}"> <!-- Include Styling on the header -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap' type='text/css'> <!-- Include digital clock font -->
        {% block head %}{% endblock %} <!-- Include Header content -->
    </head>
    <body class="{% block body_class %}{% endblock %}"> <!-- Apply Class (CSS) to the boddy -->
        {% block body %}{% endblock %}  <!-- Include Body content -->
        <script src="{{ url_for('static', filename='javascripts/jquery-3.7.1.js') }}"></script> <!-- Link jquery package -->
        <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script> <!-- Include custom JavaScript -->
    </body>
</html>